
.app_container {
	justify-content: center;
	align-items: center;
	position: fixed;
	display: flex;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgb(193, 193, 222);
}

.calculator_container {
	flex-direction: column;
	display: flex;
	padding: 15px 10px 25px;
	grid-gap: 20px;
	border-radius: 5px;
	width: min(350px, 90%);
	height: min(500px, 95%);
	background: rgb(229, 229, 229);
	box-shadow: 0px 10px 30px rgb(0 0 0 / 25%);
}

@media (max-width: 600px) {
	.calculator_container {
		width: 90%;
		height: 95%;
	}
}

.calculator_container .result_container {
	height: 75px;
	border-radius: 5px;
	border: 1px solid rgb(127, 125, 132);
	background-color: rgb(215, 215, 221);
	box-shadow: 0px 0px 10px rgb(0 0 0 / 10%);
}

.calculator_container .result_container .result {
	text-align: right;
	height: 40px;
	padding: 7.5px 10px;
}

.calculator_container .result_container .input {
	text-align: right;
	outline: none;
	height: 35px;
	padding: 5px;
	border-top: 1px solid rgb(63, 63, 63);
}

.error_text {
	color: rgb(255, 72, 72);
}


